/* tables */

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #3c8dbc !important;
    color: white;
    padding: 0.25em !important;
    font-size: 1.3em !important;
    font-weight: normal !important;
}
table.tablesorter thead tr .header {
    background: url('../images/table-sorter/table-sorter-bg.gif') no-repeat center right;
    cursor: pointer;
}
