

#faucets-table thead, #payment-processors-table thead {
    border: 1px solid #ddd;
    width:calc(100% - 1.5em);
}

#faucets-table thead th, #payment-processors-table thead th {
    padding-bottom: 1.25em !important;
}

#faucets-table thead th .headerSortDown, #payment-processors-table thead th .headerSortDown {
    background-image: url("table_sorter_themes/blue/desc.gif");
}

#faucets-table thead th .headerSortUp, #payment-processors-table thead th .headerSortUp {
    background-image: url("table_sorter_themes/blue/asc.gif");
}

.form-control-feedback{
    text-align: inherit !important;
}

#faucet-info{
    width:calc(100% - 1.5em);
}

#faucet-iframe, #rotator-iframe {
    width: calc(100% - 1.5em);
    height: 50em;
    border: 2px solid #ddd;
}

.wrapper{
    height: auto !important;
}