#faucets-table thead, #payment-processors-table thead {
    border: 1px solid #ddd;
    width:calc(100% - 1.5em);
}

#faucets-table thead th, #payment-processors-table thead th {
    padding-bottom: 0.25em !important;
}

#faucets-table thead th .headerSortDown, #payment-processors-table thead th .headerSortDown {
    background-image: url("../images/table-sorter/table-sorter-desc.gif");
}

#faucets-table thead th .headerSortUp, #payment-processors-table thead th .headerSortUp {
    background-image: url("../images/table-sorter/table-sorter-asc.gif");
}

table.show-table-header thead tr th{
    background-color: #3c8dbc;
    color: white;
    padding: 0.25em;
    font-size: 1.3em;
    font-weight: normal;
}

.navbar-top-fixed{
    position: fixed;
    top:0;
    z-index:100;
}

.footer-custom{
    max-height: 4em !important;
    width:100%;
    text-align: center;
}

.footer-custom-guest{
    border-top: 0 !important;
}

.footer-custom-guest p{
    padding-right:14.375em!important;
}

.content-guest{
    border-bottom:1px solid #d2d6de;
}

.icheckbox_square,
.iradio_square {
    background: url("/assets/images/iCheck/square/square.png") no-repeat !important;
}

.icheckbox_square-red,
.iradio_square-red {
    background: url("/assets/images/iCheck/square/red.png") no-repeat !important;
}

.icheckbox_square-green,
.iradio_square-green {
    background: url("/assets/images/iCheck/square/green.png") no-repeat !important;
}

.icheckbox_square-blue,
.iradio_square-blue {
    background: url("/assets/images/iCheck/square/blue.png") no-repeat !important;
}
.icheckbox_square-blue {
     background-position: 0 0 !important;
 }
.icheckbox_square-blue.hover {
    background-position: -24px 0 !important;
}
.icheckbox_square-blue.checked {
    background-position: -48px 0 !important;
}
.icheckbox_square-blue.disabled {
    background-position: -72px 0 !important;
    cursor: default;
}
.icheckbox_square-blue.checked.disabled {
    background-position: -96px 0 !important;
}

.icheckbox_square-aero,
.iradio_square-aero {
    background: url("/assets/images/iCheck/square/aero.png") no-repeat !important;
}

.icheckbox_square-grey,
.iradio_square-grey {
    background: url("/assets/images/iCheck/square/grey.png") no-repeat !important;
}

.icheckbox_square-orange,
.iradio_square-orange {
    background: url("/assets/images/iCheck/square/orange.png") no-repeat !important;
}

.icheckbox_square-yellow,
.iradio_square-yellow {
    background: url("/assets/images/iCheck/square/yellow.png") no-repeat !important;
}
.icheckbox_square-pink,
.iradio_square-pink {
    background: url("/assets/images/iCheck/square/pink.png") no-repeat !important;
}
.icheckbox_square-purple,
.iradio_square-purple {
    background: url("/assets/images/iCheck/square/purple.png") no-repeat !important;
}

#remember-me-checkbox #checkbox{
    position: absolute;
    top: -20%;
    left: -20%;
    display: block;
    width: 140%;
    height: 140%;
    margin-left: 0em !important;
    padding: 0;
    background: rgb(255, 255, 255);
    border: 0;
    opacity: 1 !important;
}

#remember-me-checkbox #checkbox-label{
    margin-right:1em !important;
}

.form-control-feedback{
    text-align: inherit !important;
}

#faucet-info{
    width:calc(100% - 1.5em);
}

#faucet-iframe, #rotator-iframe {
    width: calc(100% - 1.5em);
    height: 50em;
    border: 2px solid #ddd;
}

.wrapper{
    height: auto !important;
}

#footer-custom p{
    line-height: 1em;
    text-align: center;
}

.user-panel{
    padding: 0 !important;
    margin: 0 0 0 0 !important;
    border-bottom:1px solid #ecf0f5;
}

.user-panel .info{
    padding: 0 0 0 0;
    position: inherit;
    left:0;
    margin: 1em 0 0 2.25em;
}

.user-panel .info figure figcaption #username{
    margin-top: 1.25em;
    margin-left: 1.5em;
    word-wrap: break-word;
    white-space: normal;
}

.circle-letter{
    border-radius: 50%;

    width: 2em;
    height: 2em;
    padding-top:0.4em;

    border: 0.125em solid #3c8dbc;
    color: #3c8dbc;
    text-align: center;
}

.user-panel .info figure figcaption #status{
    margin-left: 1.25em;
}

.user-panel .info figure #userdialog{
    margin-bottom: 1em;
}

.user-panel .info figure #userdialog #membersince{
    margin-top:1em;
}

#sidebar-wrapper{
    position: fixed !important;
}

.sidebar #menuheader{
    margin: 0.5em 0 0 0.75em;
    color: white;
}

.img-circle{
    margin-left:-1em !important;
}

.user-panel .info figure img{
    margin-left:-1em;
}

.main-sidebar, .sidebar-fixed, #sidebar-wrapper{
    width: 230px;
}
@media screen and (max-height: 45em) and (min-height: 0em) {
    .main-sidebar, .sidebar-fixed, #sidebar-wrapper{
        height: 100%;
        overflow-y: scroll;
    }
    .user-panel .info figure img{
        margin:0 0 0 0 !important;
    }
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox_square,
    .iradio_square {
        background-image: url("/assets/images/iCheck/square/square@2x.png") !important;
    }
    .icheckbox_square-red,
    .iradio_square-red {
        background-image: url("/assets/images/iCheck/square/red@2x.png") !important;
    }
    .icheckbox_square-green,
    .iradio_square-green {
        background-image: url("/assets/images/iCheck/square/green@2x.png") !important;
    }
    .icheckbox_square-blue,
    .iradio_square-blue {
        background-image: url("/assets/images/iCheck/square/blue@2x.png") !important;
    }
    .icheckbox_square-aero,
    .iradio_square-aero {
        background-image: url("/assets/images/iCheck/square/aero@2x.png") !important;
    }
    .icheckbox_square-grey,
    .iradio_square-grey {
        background-image: url("/assets/images/iCheck/square/grey@2x.png") !important;
    }
    .icheckbox_square-orange,
    .iradio_square-orange {
        background-image: url("/assets/images/iCheck/square/orange@2x.png") !important;
    }
    .icheckbox_square-yellow,
    .iradio_square-yellow {
        background-image: url("/assets/images/iCheck/square/yellow@2x.png") !important;
    }
    .icheckbox_square-purple,
    .iradio_square-purple {
        background-image: url("/assets/images/iCheck/square/purple@2x.png") !important;
    }
}